{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'auth/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'auth/css/style.css' %}">


    <style>
div.main {
  background-color: #7d899b;

}
</style>

</head>
<body>
<img   src="https://olcha.uz/uploads/advertising/images/top/FpXVgg40FKptWPzOuRb6PHe3ueaIivllGv3yapwi.jpg" width="1635px">
 <!-- Sing in  Form -->
       <div class="main">
           <section class="sign-in">

            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'auth/images/login_pro.jpg' %}" alt="sing up image"></figure>
                   <h4><a href="{% url 'register_page' %}" class="signup-image-link" style="color:#2c7be5;" >Create an account</a></h4>

                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Login</h2>
                        <form method="POST" class="register-form" id="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="your_name" placeholder="User Name" required/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password" required/>
                            </div>
                            <div class="form-group">
                                {% if message %}
                                <ul class="messages">
                                    {% for message in message %}
                                    <li style="color: red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                                 {% endif %}
                                </ul>
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                            <div {% static 'auth/assets/css' %} class="position-relative mt-4">
                                  <br>
                                  <div class="divider-content-center">or log in with</div>

                                 <hr class="bg-300" />
                            </div>
                            <ul class="socials">
                                <li><a href="https://www.facebook.com/"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="https://www.twitter.com/"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="https://www.google.com/"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </section>
       </div>


    <!-- JS -->
    <script src="{% static 'auth/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'auth/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>